.tryit {
    color: black;
    background-color: lightcoral;
    padding: 10px;
    margin-top: 10px;
}
.example
{
    color: black;
    background-color: lightgreen;
    padding: 10px;
    margin-top: 10px;
}
body {
    margin: 25px;
    float: left;
    color: #00ff00;
    background-color: black;
    font-size: 20px;
	font-family: sans-serif;
}
a {
    color: #00ff00;
}

.img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}
.img img {
    background-color: white;
}

.tryit p {
    font-size: 16px;
}

.code
{
    color: darkblue;
    padding: 10px 10px 10px 10px;
}                                                                                                                               
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: lightcoral;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #00ff00;
    color: white;
  }
  * {
    
    cursor: url(https://blog.fefe.de/amiga.gif), default;
  }